<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dairy</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" media="screen and (max-width:630px)" href="/css/phone.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-header">
            <p class="navbar-brand">Insane JOURNAL</p>
        </div>
        <ul class="nav navbar-right">
            <!-- 6 -->
            <li id="home"><a href="/home">HOME</a></li>
            <li id="about"><a href="/about">ABOUT</a></li>
            <li id="contact"><a href="/contact">CONTACT US</a></li>
            <li id="contact"><a href="/compose">COMPOSE</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>