<%- include("partials/header") %> 


    <div class="container">
        <h1>About </h1>
        <div class="about">
            <p><%= aboutContent %> </p>
        </div>
    </div>


<%- include("partials/footer") %> 
