<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dairy</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="css/bootstrap-social.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" media="screen and (max-width:630px)" href="/css/phone.css">
</head>

<body class="sign">
    
    <div class="jumbotron centered">
        <div class="container">
          <!-- <i class="fas fa-key fa-6x"></i> -->
          <h1 class="display-3">Journal Website</h1>
          <hr>
          <a class="btn btn-outline-primary " href="/register" role="button">Register</a>
          <a class="btn btn-outline-info " href="/login" role="button">Login</a>
      
        </div>
      </div>
</body>

</html>