<%- include("partials/header") %> 


<div class="container">
    <h1>Enter Unique Title</h1>
    <form action="/compose" method="get">
        <button class="compose-btn">Ok</button>
    </form>
    
</div>


<%- include("partials/footer") %> 