/* ul li a{
    color: rgb(255, 0, 0);
} */
.container{
    width: 95%;
    padding-bottom: 8vw;
}
.container h1 {
    font-size: 14vw;
    margin: 6vw 0px;
}
.btn {
    width: 100%;
    font-size: 6vw;
}
.btn-social{
    font-size: 4vw;
}
.phRegBody{
    padding: 0;
}
.regBody{
    margin: 8vw 0vw;
}
.form-group input, .form-group textarea {
    height: 9vw;
}
.navbar-right {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.navbar {
    height: 8vw;
    font-size: 2vw;
}
.posts {
    width: 80%;
    margin: 4vw;
}
.posts:hover {
    transform: scale(1.2);
}
.posts h2 {
    font-size: 6vw;
    margin-top: 1vw;
}
.posts p {
    font-size: 4vw;
}
.posts h3 {
    font-size: 2vw;
}
.posts a {
    font-size: 4vw;
}
.pstname {
    font-size: 4.1vw;
}
.wlc{
    font-size: 6vw;
}
.about{
    width: 76%;
    padding: 5vw;
    /* font-size: 7vw; */
}
.about p {
    font-size: 5vw;
    letter-spacing: 0.2vw;
}
.contact {
    width: 85%;
    margin-bottom: 30vw;
}
.form-group input, .form-group textarea {
    height: 4vw;
    padding: 3vw;
    font-size: 4vw;
}
.compose-form{
    width: 70%;
}
.compose-btn {
    width: 45%;
    margin: 4vw auto;
}
.compose-form h3{
    font-size: 8vw;
}
.compose-form input, .compose-form textarea {
    height: 2vw;
    margin-bottom: 8vw;
}